{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Teacherstyle.css' %}">
    <title>Document</title>
</head>

<body class="dashbody">
    <div class="navbar">


        {% if user.is_authenticated %}
        <h3 class="h3 line">Hello,  {{user.username}}</h3>
        <button class="line navbtn"><a class="a_inbox" href="logout">Logout</a></button>
        {% else %}
        <button class="line navbtn"><a class="a_inbox" href="TeacherLogin">Login</a></button>
        {% endif %}

    </div>
    <div class="outer">
        <div class="sidebar">
            <p style="color: white; margin-left: 20px;">Hello, {{user.username}}</p>
            <img src="{% static 'images/teacher.png'%}" class="dashboardimg">
            <a href="TeacherDashboard">Dashboard</a>
            <a class="active" href="Profile">Profile</a>
            <a href="AttendanceReport">Attendance</a>
            <a href="StudentsRegister">StudentsRegister</a>
            <a href="StudentsMarks">StudentsMarks</a>
            <a href="TimeTable">TimeTable</a>
            <a href="Notice">Notice</a>


        </div>
        <div class="outerdiv">ProfileManagement

        </div>

</body>

</html>