{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Teacherstyle.css' %}">
    <title>Document</title>
</head>

<body class="dashbody">
    <div class="navbar">


        <h3 class="h3 line">TEACHER PANEL</h3>

        <button class="line navbtn"><a class="a_inbox" href="../Administration/index">Logout</a></button>

    </div>
    <div class="outer">
        <div class="sidebar">

            <img src="{% static 'images/teacher.png'%}" class="dashboardimg">
            <a class="active" href="TeacherDashboard">Dashboard</a>
            <a href="AttendanceReport">Attendance</a>
            <a href="Notice">Notice</a>


        </div>
        <div class="box3">
            <div class="box1 color1">
                <a class="a_inbox" href="">Name</a>
            </div>
            <div class="box1 color2">
                <a class="a_inbox" href="">Contact Number</a>
            </div>
            <div class="box1 color3">
                <a class="a_inbox" href="">Join Date</a>
            </div>
            <div class="box1 color4">
                <a class="a_inbox" href="">Salary</a>
            </div>
        </div>

    </div>




</body>

</html>