{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/Teacherstyle.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/Studentstyles.css' %}">
    <title>Document</title>
</head>

<body class="dashbody">
    <div class="navbar">


        {% if user.is_authenticated %}
        <h3 class="h3 line">Hello, {{user.username}}</h3>
        <button class="line navbtn"><a class="a_inbox" href="logout">Logout</a></button>
        {% else %}
        <button class="line navbtn"><a class="a_inbox" href="TeacherLogin">Login</a></button>
        {% endif %}

    </div>
    <div class="outer">
        <div class="sidebar">
            <!-- <p style="color: white; margin-left: 20px;">Hello, {{user.username}}</p> -->
            <img src="{% static 'images/Teacher.png'%}" class="dashboardimg">
            <a href="TeacherDashboard">Dashboard</a>
            <a href="Profile">Profile</a>
            <a href="Attendance">Attendance</a>
            <a href="ProgressCard">ProgressCard</a>
            <a href="HomeWork">HomeWork</a>
            <a class="active" href="TimeTable">TimeTable</a>
            <a href="Fees">Fees</a>
            <a href="Notice">Notice</a>

        </div>
    </div>

    <div style="margin-top: 20px;" >


        <table class="time_tbl"  style="text-align: center;">

            <th style="background-color: rgb(85, 85, 241);" colspan="10">TIME TABLE</th>

            <tr>
                <th>Day</th>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>P4</th>
                <th>P5</th>
                <th>P6</th>
                <th>P7</th>
                <th>P8</th>
                <th>P9</th>
            </tr>
            <tr>
                <td>Monday</td>
                <td class="time_tbl_td">English</td>
                <td class="time_tbl_td">Hindi</td>
                <td class="time_tbl_td">Maths</td>
                <td class="time_tbl_td">EVS</td>
                <td class="time_tbl_td">Science</td>
                <td class="time_tbl_td">Malayalam</td>
                <td class="time_tbl_td">Sanskrit</td>
                <td class="time_tbl_td">GK</td>
                <td class="time_tbl_td">PT</td>
            </tr>
            <tr>
                <td>Tuesday</td>
            </tr>
            <tr>
                <td>Wednesday</td>
            </tr>
            <tr>
                <td>Thursday</td>
            </tr>
            <tr>
                <td>Friday</td>
            </tr>



        </table>
    </div>




</body>

</html>