{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/Adminstyles.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/Studentstyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/AddTeachersstyles.css' %}"> -->

    <title>Document</title>
</head>

<body class="dashbody">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="navbar">


            <h3 class="h3 line">ADMIN PANEL</h3>

            <button class="line navbtn"><a class="a_inbox" href="logout">Logout</a></button>

        </div>
        <div class="outer">
            <div class="sidebar">
                <p style="color: white; margin-left: 20px;">Hello, {{user.username}}</p>
                <img src="{% static 'images/admin.jpg'%}" class="dashboardimg">
                <a href="dashboard">Dashboard</a>
                <a href="Teachers">Teacher</a>
                <a class="active" href="Students">Student</a>
                <a href="Attendance">Attendance</a>
                <a href="Fees">Fee</a>
                <a href="Notice">Notice</a>

            </div>

            <div class="outerdiv">
                <div class="innerdiv">
                    <h3 class="font">New Admission</h3>
                </div>
                <div>
                    <select name="name" id="" style="width: 37%;" class="selection">
                        <option value=" " selected disabled hidden>Select Student</option>
                        {% for student in students %}
                        <option value="{{student.username}}">{{student.username}}</option>
                        {% endfor %}
                    </select>

                    <input type="text" placeholder="First Name" class="text" name="fname">
                    <input type="text" placeholder="Admission Number" class="text" name="admnum">
                    <input type="text" placeholder="Last Name" class="text" name="lname">


                    <select name="std" id="" class="selection">
                        <option value=" " selected disabled hidden>Select a class</option>

                        <option value="1">1st std</option>
                        <option value="2">2nd std</option>
                        <option value="3">3rd std</option>
                        <option value="4">4th std</option>
                        <option value="5">5th std</option>
                        <option value="6">6th std</option>
                        <option value="7">7th std</option>
                        <option value="8">8th std</option>
                        <option value="9">9th std</option>
                        <option value="10">10th std</option>
                    </select>

                    <input type="text" placeholder="Division" name="division" style="margin-left: 10px; width: 5%;"
                        class="selection">

                    <select name="gender" id="" style="margin-left: 37px; width: 10%;" class="selection">
                        <option value=" " selected disabled hidden>Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <input type="text" placeholder="Religion" name="religion" style=" width: 10%;" class="selection">
                    <input type="text" placeholder="Date of Birth" name="dob" style="margin-left: 2.5%; width: 10%;"
                        class="selection">
                    <input type="text" placeholder="Blood Group" name="bld" style="margin-left: 2%; width: 6%;"
                        class="selection">
                    <input type="text" placeholder="Roll Number" name="roll" class="text">
                    <input type="text" placeholder="Contact" name="contact" class="text"><br>



                    <button class="button">Submit</button>

                </div>
            </div>
        </div>
    </form>
</body>

</html>