{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Adminstyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/Adminstyles1.css' %}">

    <title>Document</title>
</head>

<body  class="dashbody">
    <div class="navbar">


        <h3 class="h3 line">ADMIN PANEL</h3>

        <button class="line navbtn"><a class="a_inbox" href="index">Logout</a></button>

    </div>
    <div class="outer">
        <div class="sidebar">
            <img src="{% static 'images/admindash.jpg'%}" class="dashboardimg">
            <a class="active" href="dashboard">Dashboard</a>
            <a href="Teachers">Teacher</a>
            <a href="Students">Student</a>
            <a href="Attendance">Attendance</a>
            <a href="Fees">Fee</a>
            <a href="Notice">Notice</a>
    
        </div>
        <div class="box3">
            <div class="box1 color1">
                <a class="a_inbox" href="">Total Teachers</a>
            </div>
            <div class="box1 color2">
                <a class="a_inbox" href="">Total Students</a>
            </div>
            <div class="box1 color3">
                <a class="a_inbox" href="">Teachers Salary</a>
            </div>
            <div class="box1 color4">
                <a class="a_inbox" href="">Student Fee</a>
            </div>
        </div>
        <div class="box3">
            <div class="box1 color1">
                <a class="a_inbox" href="">Pending Teachers</a>
            </div>
                
            <div class="box1 color2">
                <a class="a_inbox" href="">Pending Admission</a>
            </div>

            <div class="box1 color3">
                <a class="a_inbox" href="">Pending Salary</a>
            </div>
            <div class="box1 color4">
                <a class="a_inbox" href="">Pending Dues</a>
            </div>
        </div>
        <div class="noticebar">
            <h3 id="" class="notice">Notice Board</h3>           
            
        </div>
    </div>


    <!-- <div class="box4"></div>
    <div class="box5"></div>
    <div class="box6"></div>
    <div class="box7"></div>
    <div class="box8"></div>
    <table>

    </table> -->



    <!-- The sidebar -->
    <!-- <div class="sidebar">
        <img src="{% static 'images/admindash.jpg'%}" class="dashboardimg">
        <a class="active" href="#dashboard">Dashboard</a>
        <a href="#news">Teacher</a>
        <a href="#contact">Student</a>
        <a href="#about">Attendance</a>
        <a href="#about">Fee</a>
        <a href="#about">Notice</a>

    </div> -->

    <!-- Page content -->
    <!-- <div class="">
        ..hai this is Admin Dashboard
    </div> -->





</body>

</html>