{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Adminstyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/Adminstyles1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}">

    <title>Document</title>
</head>

<body class="dashbody">
    <div class="navbar">


        <h3 class="h3 line">ADMIN PANEL</h3>

        <button class="line navbtn"><a class="a_inbox" href="logout">Logout</a></button>

    </div>
    <div class="outer">
        <div class="sidebar">
            <p style="color: white; margin-left: 20px;">Hello,  {{user.username}}</p>
            <img src="{% static 'images/admin.jpg'%}" class="dashboardimg">
            <a href="dashboard">Dashboard</a>
            <a href="Teachers">Teacher</a>
            <a class="active" href="Students">Student</a>
            <a href="Attendance">Attendance</a>
            <a href="Fees">Fee</a>
            <a href="Notice">Notice</a>
    
        </div>
        <div class="box3">
            <div class="box1 color1">
                <a class="a_inbox" href="ViewAllStudents">View All Students</a>
            </div>
            <div class="box1 color2">
                <a class="a_inbox" href="AddStudents">Add Students</a>
            </div>
            <div class="box1 color3">
                <a class="a_inbox" href="ApproveStudents">Approve Students</a>
            </div>
            <div class="box1 color4">
                <a class="a_inbox" href="FeeofStudents">View Student Fee</a>
            </div>
        </div>
        <!-- <div class="box3">
            <div class="box1 color1">
                <a class="a_inbox" href="">Pending Teachers</a>
            </div>
                
            <div class="box1 color2">
                <a class="a_inbox" href="">Pending Admission</a>
            </div>

            <div class="box1 color3">
                <a class="a_inbox" href="">Pending Salary</a>
            </div>
            <div class="box1 color4">
                <a class="a_inbox" href="">Pending Dues</a>
            </div>
        </div> -->
        <div class="noticebar">
            <h3 id="" class="notice">Notice Board</h3>
            
            
        </div>
    </div>


    <table>

    </table>



    




</body>

</html>