{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Adminstyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/AddTeachersstyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}">

    <title>Document</title>
</head>
<style>
    .tr {
        align-items: center;
        text-align: center;
    }
</style>

<body class="dashbody">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="navbar">


            <h3 class="h3 line">ADMIN PANEL</h3>

            <button class="line navbtn"><a class="a_inbox" href="logout">Logout</a></button>

        </div>
        <div class="outer">
            <div class="sidebar">
                <p style="color: white; margin-left: 20px;">Hello, {{user.username}}</p>
                <img src="{% static 'images/admin.jpg'%}" class="dashboardimg">
                <a href="dashboard">Dashboard</a>
                <a href="Teachers">Teacher</a>
                <a href="Students">Student</a>
                <a href="Attendance">Attendance</a>
                <a class="active" href="Fees">Fee</a>
                <a href="Notice">Notice</a>

            </div>

            <div class="table_div">
                <table class="outertable" id="table">

                    <thead>
                        <tr>
                            <th colspan="7" style="background-color:rgb(97, 118, 249);" class="th1"> Fee Payment
                                {{student.Name}}
                            </th>
                        </tr>
                        <tr class="tr2">
                            <th class=" table">Student Name</th>
                            <th class=" table">Admission No.</th>
                            <th class="table">Contact</th>
                            <th class="table">Total Fees</th>
                            <th class="table">Paid Fees</th>
                            <th class="table">Fees Due</th>
                            <th class="table">Payment</th>
                        </tr>

                        {% for student in students %}
                        <tr id="tr">
                            <td>{{student.Name}}<input type="hidden" value="{{student.Name}}" name="name"></td>
                            <td>{{student.AdmissionNum}}</td>
                            <td>{{student.Contact}}</td>
                            <td>{{student.TotalFee}}</td>
                            <td>{{student.PaidFee}}</td>
                            <td>{{student.PendingFee}}</td>
                            <td>
                                <input style="width: 40px;" type="text" name="paid" placeholder="0" id="">
                                <button type="submit" class="plus"></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </thead>




                </table>
            </div>

        </div>
    </form>
    
  

</body>

</html>