{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Adminstyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}">

    <title>Document</title>
</head>

<body class="dashbody">
    <div class="navbar">


        {% if user.is_authenticated %}
        <h3 class="h3 line">Hello, {{user.username}}</h3>
        <button class="line navbtn"><a class="a_inbox" href="logout">Logout</a></button>
        {% else %}
        <button class="line navbtn"><a class="a_inbox" href="StudentLogin">Login</a></button>
        {% endif %}

    </div>
    <div class="outer">
        <div class="sidebar">
            <p style="color: white; margin-left: 20px;"></p>
            <img src="{% static 'images/student.jpg'%}" class="dashboardimg">
            <a href="StudentDashboard">Dashboard</a>
            <a href="Profile">Profile</a>
            <a href="ViewAttendance">View Attendance</a>
            <a href="ProgressCard">ProgressCard</a>
            <a href="HomeWork">Home Work</a>
            <a class="active" href="Fees">Fees</a>
            <a href="Notice">Notice</a>

        </div>

    </div>
    <div class="table_div">
        <table class="outertable">

            <thead>
                <tr>
                    <th colspan="5" style="background-color:rgb(97, 118, 249);" class="th1"> Fee</th>
                </tr>
                <tr class="tr2">
                    <th class=" table">Student Name</th>
                    <th class=" table">Admission No</th>
                    <th class="table">Contact</th>
                    <th class="table">Dues</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td>{{student.Name}}</td>
                    <td>{{student.AdmissionNum}}</td>
                    <td>{{student.Contact}}</td>
                    <td>{{student.PendingFee}}</td>
                </tr>
                {% endfor %}

            </thead>




        </table>
    </div>

</body>

</html>