{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kv7Gv5dTuTASFnFeWPpYnqRibV4vzEfylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>Scool Management Systems
    <p></p>
    <a href="{% url 'Student:index' %}">index </a>
    <a href="{% url 'Student:AttendanceReport' %}">AttendanceReport</a>
    <a href="{% url 'Student:Assignment' %}">Assignment</a>
    <a href="{% url 'Student:HomeWork' %}">Homework</a>
    <a href="{% url 'Student:ProgressCard' %}">ProgressCard</a>
    <a href="{% url 'Student:Notice' %}">Notice</a>
    <a href="{% url 'Student:Profile' %}">Profile</a>
    <img src="{% static 'images/images (4).jpg' %}">

    <button type="button" class="btn btn-primary">Primary</button>
    
    
</body>
</html>